<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codcat</title>

    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">

    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<header class="fixed w-full">
    <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900  border-b">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto">
            <a href="#" class="flex items-center">
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">codcat</span>
            </a>
            <div class="flex items-center lg:order-2">
                <a href="https://gitlab.com/codcat/codcat"
                   class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-xs px-4 lg:px-5 py-2 lg:py-2.5 sm:mr-2 lg:mr-0 dark:bg-purple-600 dark:hover:bg-purple-700 focus:outline-none dark:focus:ring-purple-800">Download</a>
                <button data-collapse-toggle="mobile-menu-2" type="button"
                        class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                        aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <svg class="hidden w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
            <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
                <ul class="flex flex-col mt-4 ml-20 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a href="#"
                           class="block text-xs py-2 pl-3 pr-4 text-white bg-purple-700 rounded lg:bg-transparent lg:text-purple-700 lg:p-0 dark:text-white"
                           aria-current="page">Detect</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block text-xs py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Supported</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block text-xs py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Help</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block text-xs py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Team</a>
                    </li>
                    <li>
                        <a href="#"
                           class="block text-xs py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- End block -->
<!-- Start block -->
<section class="bg-white dark:bg-gray-900 pt-20">
    <div class="max-w-screen-xl px-4 pb-8 pt-8 mx-auto lg:pb-24 lg:px-6 ">

        <div class="max-w-screen-md mx-auto">

            <h2 class="mb-6 text-3xl pt-8 font-extrabold tracking-tight text-center text-gray-900 lg:mb-8 lg:text-3xl dark:text-white">
                Detect language</h2>

            <form class="space-y-4 md:space-y-6" action="#" id="predictform" method="POST">
                <label for="sourceCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">🔥 Hosted Inference
                    API </label>
                <textarea rows="4" id="sourceCode"
                          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-purple-800 focus:border-purple-800 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-purple-800 dark:focus:border-purple-800"
                          placeholder="Write your code here..."></textarea>
                <button type="submit"
                        class="focus:outline-none mb-8 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-xs px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                    Compute
                </button>
            </form>


            <div id="probabilities" class="pt-8"></div>
        </div>
    </div>
</section>
<script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
<script type="text/javascript">
     $('#predictform').on('submit', function (event) {
         event.preventDefault();
         const text = document.getElementById("sourceCode").value;
         if (text) {
             console.log(text);

             $.ajax({
                 url: "{{ url_for('api.predict') }}",
                 type: "POST",
                 data: JSON.stringify({texts: [text]}),
                 contentType: "application/json",
                 dataType: "json",
             }).done(function (data) {
                 const probabilities = data[0];

                 const filteredData = Object.entries(probabilities)
                    .filter(([_, value]) => value > 0.05)
                    .map(([key, value]) => ({ language: key, value: value }));

                // Sort the array by descending order of the values
                 filteredData.sort((a, b) => b.value - a.value);

                 const probabilitiesDiv = document.getElementById("probabilities");
                 probabilitiesDiv.innerHTML = "";

                 for (let i = 0; i < filteredData.length; i++) {
                     const language = filteredData[i].language;
                     const value = filteredData[i].value;
                     const probability = (value * 100).toFixed(2);
                     const div = document.createElement("div");

                     div.innerHTML = `
                     <div class="flex justify-between mb-1">
                          <span class="text-xs font-medium text-gray-500 dark:text-white">${language}</span>
                          <span class="text-xs font-medium text-gray-500 dark:text-white">${value.toFixed(2)}</span>
                    </div>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 pb-2">
                      <div class="bg-purple-500 h-2.5 rounded-full" style="width: ${probability}%"></div>
                    </div><br>`;

                     probabilitiesDiv.appendChild(div);
                 }

             });
         }
     });
</script>
</body>
</html>
