@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: FontW;
    src: url('fonts/regular.otf') format("opentype");
  }
  body {
    font-family: 'FontW', sans-serif;
  }
}
